#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.body-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(241, 233, 233, 0.847)), url('../public/vectorelements-Nfz7YCRVSzY-unsplash.png'); 
  /* CAMBIO CLAVE: cover obliga a la imagen a llenar todo el espacio */
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; /* No necesitas que repita si usas cover */
  
  /* Asegura que el contenedor siempre ocupe todo el alto disponible */
  min-height: 80vh; 
  width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.login-form-wrapper {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente para el formulario */
  padding: 30px;
  border-radius: 8px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #34165f;
    padding: 20px;
    box-sizing: border-box;
}

.login-card {
    width: 100%;
    max-width: 1000px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.form-section {
    padding: 60px 40px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-wrapper {
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.login-title {
    margin-bottom: 8px !important;
    font-size: 32px !important;
    font-weight: 600 !important;
}

.login-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.login-input {
    height: 50px;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: none;
}

.sign-in-button {
    height: 50px;
    border-radius: 10px;
    background-color: #410fb6 !important;
    border-color: #410fb6 !important;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 8px 15px rgba(65, 15, 182, 0.3);
}

.image-section {
    background: linear-gradient(135deg, #FFD3A5 0%, #FD6585 100%);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 20px;
    margin-right: 0;
    border-radius: 30px;
}

.overlay-content {
    position: absolute;
    bottom: 100px;
    left: 40px;
    right: 40px;
}
/* Estilos para la tabla de tareas */

.ant-table-thead > tr > th {
  background-color: #f0f5ff !important; 
  color: #1890ff !important;
  font-weight: bold;
}